<!DOCTYPE html>
<html>
    <head>
        <!-- 页面meta -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>传智健康</title>
        <meta name="description" content="传智健康">
        <meta name="keywords" content="传智健康">
        <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
        <!-- 引入样式 -->
        <link rel="stylesheet" href="../plugins/elementui/index.css">
        <link rel="stylesheet" href="../plugins/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="../css/style.css">
    </head>
    <body class="hold-transition">
        <div id="app">
            <div class="content-header">
                <h1>权限管理<small>权限项管理</small></h1>
                <el-breadcrumb separator-class="el-icon-arrow-right" class="breadcrumb">
                    <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
                    <el-breadcrumb-item>权限管理</el-breadcrumb-item>
                    <el-breadcrumb-item>权限项管理</el-breadcrumb-item>
                </el-breadcrumb>
            </div>
            <div class="app-container">
                <div class="box">
                    <div class="filter-container">
                        <el-input placeholder="权限名称/权限关键字" v-model="pagination.queryString" style="width: 200px;" class="filter-item"></el-input>
                        <!-- 这里完善了一下,因为在非首页状态下传过去的当前页参数有问题,点击这个按钮查询的话当前页必须是1 -->
                        <el-button @click="buttonFindPage()" class="dalfBut">查询</el-button>
                        <!--<el-button @click="findPage()" class="dalfBut">查询</el-button>-->
                        <el-button type="primary" class="butT" @click="handleCreate()">新建</el-button>
                    </div>
                    <el-table size="small" current-row-key="id" :data="dataList" stripe highlight-current-row>
                        <el-table-column type="index" align="center" label="序号"></el-table-column>
                        <el-table-column prop="name" label="权限名称" align="center"></el-table-column>
                        <el-table-column prop="keyword" label="权限关键字" align="center"></el-table-column>
                        <el-table-column prop="description" label="权限描述" align="center"></el-table-column>
                        <el-table-column label="操作" align="center">
                            <template slot-scope="scope">
                                <el-button type="primary" size="mini" @click="handleUpdate(scope.row)">编辑</el-button>
                                <el-button size="mini" type="danger" @click="handleDelete(scope.row)">删除</el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                    <div class="pagination-container">
                        <el-pagination
                            class="pagiantion"
                            @current-change="handleCurrentChange"
                            :current-page="pagination.currentPage"
                            :page-size="pagination.pageSize"
                            layout="total, prev, pager, next, jumper"
                            :total="pagination.total">
                        </el-pagination>
                    </div>
                    <!-- 新增标签弹层 -->
                    <div class="add-form">
                        <el-dialog title="新增权限项" :visible.sync="dialogFormVisible">
                            <el-form ref="dataAddForm" :model="formData" :rules="rules" label-position="right" label-width="100px">
                                <el-row>
                                    <el-col :span="24">
                                        <el-form-item label="权限名称" prop="name">
                                            <el-input v-model="formData.name"/>
                                        </el-form-item>
                                    </el-col>
                                </el-row>
                                <el-row>
                                    <el-col :span="24">
                                        <el-form-item label="权限关键字" prop="keyword">
                                            <el-input v-model="formData.keyword"/>
                                        </el-form-item>
                                    </el-col>
                                </el-row>
                                <el-row>
                                    <el-col :span="24">
                                        <el-form-item label="权限描述">
                                            <el-input v-model="formData.description" type="textarea"/>
                                        </el-form-item>
                                    </el-col>
                                </el-row>
                            </el-form>
                            <div slot="footer" class="dialog-footer">
                                <el-button @click="dialogFormVisible = false">取消</el-button>
                                <el-button type="primary" @click="handleAdd()">确定</el-button>
                            </div>
                        </el-dialog>
                    </div>

                    <!-- 编辑标签弹层 -->
                    <div class="add-form">
                        <el-dialog title="编辑权限项" :visible.sync="dialogFormVisible4Edit">
                            <el-form ref="dataEditForm" :model="formData" :rules="rules" label-position="right" label-width="100px">
                                <el-row>
                                    <el-col :span="24">
                                        <el-form-item label="权限名称" prop="name">
                                            <el-input v-model="formData.name"/>
                                        </el-form-item>
                                    </el-col>
                                </el-row>
                                <el-row>
                                    <el-col :span="24">
                                        <el-form-item label="权限关键字" prop="keyword">
                                            <el-input v-model="formData.keyword"/>
                                        </el-form-item>
                                    </el-col>
                                </el-row>
                                <el-row>
                                    <el-col :span="24">
                                        <el-form-item label="权限描述">
                                            <el-input v-model="formData.description" type="textarea"/>
                                        </el-form-item>
                                    </el-col>
                                </el-row>
                            </el-form>
                            <div slot="footer" class="dialog-footer">
                                <el-button @click="dialogFormVisible4Edit = false">取消</el-button>
                                <el-button type="primary" @click="handleEdit()">确定</el-button>
                            </div>
                        </el-dialog>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <!-- 引入组件库 -->
    <script src="../js/vue.js"></script>
    <script src="../plugins/elementui/index.js"></script>
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script src="../js/axios-0.18.0.js"></script>
    <script>
        var vue = new Vue({
            el: '#app',
            data:{
                pagination: {//分页相关模型数据
					  currentPage: 1,//当前页码
					  pageSize:10,//每页显示的记录数
					  total:0,//总记录数
					  queryString:null//查询条件
				},
				dataList: [{name:'aaa',keyword:'bbb',description:'ccc'}],//当前页要展示的分页列表数据
                formData: {},//表单数据
                dialogFormVisible: false,//增加表单是否可见
                dialogFormVisible4Edit:false,//编辑表单是否可见
                rules: {//校验规则
                    keyword: [{ required: true, message: '权限关键字为必填项', trigger: 'blur' }],
                    name: [{ required: true, message: '权限名称为必填项', trigger: 'blur' }]
                }
            },
            //钩子函数，VUE对象初始化完成后自动执行
            created() {
                this.findPage();
            },
            methods: {
                // 请求报错
                catchError(e){
                    // 如果是无权限
                    if (e == "Error: Request failed with status code 403"){
                        this.$message.error("无访问权限");
                    }else {
                        this.message.error(e.toString());
                    }
                },
                //编辑
                handleEdit() {
                    // 根据校验结果决定是否提交编辑
                    this.$refs["dataEditForm"].validate((valid)=>{
                        if (valid){
                            // 校验成功进行异步调用添加方法
                            axios.post("/permission/edit.do",this.formData).then((resp)=>{
                                this.dialogFormVisible4Edit = false;
                                if (resp.data.flag){
                                    this.$message.success(resp.data.message);
                                    // 与课件逻辑不同,这里添加成功才重新查询
                                    this.findPage();
                                } else {
                                    this.$message.error(resp.data.message);
                                }
                            })
                        } else {
                            this.$message.error("表单数据校验失败");
                            return false;
                        }
                    })
                },
                //添加
                handleAdd () {
                    // 根据校验结果决定是否添加数据
                    this.$refs["dataAddForm"].validate((valid)=>{
                        if (valid){
                            // 校验成功进行异步调用添加方法
                            axios.post("/permission/add.do",this.formData).then((resp)=>{
                                this.dialogFormVisible = false;
                                if (resp.data.flag){
                                    this.$message.success(resp.data.message);
                                    // 与课件逻辑不同,这里添加成功才重新查询
                                    this.findPage();
                                } else {
                                    this.$message.error(resp.data.message);
                                }
                            }).catch((e)=>{
                                // 课件是抽取方法判断错误类型打印,我直接打印
                                this.catchError(e);
                            });
                        } else {
                            this.$message.error("表单数据校验失败");
                            return false;
                        }
                    })
                },
                //分页查询
                findPage() {
                    // 封装查询参数
                    let param = {
                        currentPage:this.pagination.currentPage,//页码
                        pageSize:this.pagination.pageSize,//每页显示的记录数
                        queryString:this.pagination.queryString//查询条件
                    };
                    // TODO 尝试一下直接用 pagination里的东西做参数
                    axios.post("/permission/findPage.do",param).then((resp)=>{
                      this.dataList = resp.data.rows;
                      this.pagination.total = resp.data.total;
                    })
                },
                // 完善一下点击查询按钮进行的分页查询方法 -- 个人的添加
                buttonFindPage(){
                    this.pagination.currentPage = 1;
                    this.findPage();
                },
                // 重置表单
                resetForm() {
                    this.formData = {};
                    // 用下面这个方法必须先显示弹窗
                    this.$refs['dataAddForm'].resetFields();
                },
                // 弹出添加窗口
                handleCreate() {
                    this.dialogFormVisible = true;
                    this.resetForm();
                },
                // 弹出编辑窗口
                handleUpdate(row) {
                    console.log(row);
                    // 用页面数据展示 -- 个人添加 -- 不推荐
                    /*this.formData = {
                        age: row.age,
                        attention: row.attention,
                        code: row.code,
                        id: row.id,
                        name: row.name,
                        price: row.price,
                        remark: row.remark,
                        sex: row.sex,
                        type: row.type
                    };*/
                    // 课件方法,用id重新查询
                    axios.get("/permission/findById.do?id="+row.id).then((resp)=>{
                            // 获取最新数据
                            this.formData = resp.data.data;
                            // 查询失败显示提示框
                            if (!resp.data.flag){
                                this.$message.error("获取数据失败，请刷新当前页面");
                            }
                    });
                    this.dialogFormVisible4Edit = true;
                },
                //切换页码
                handleCurrentChange(currentPage) {
                    this.pagination.currentPage = currentPage ;
                    this.findPage();
                },
                // 删除
                handleDelete(row) {
                    this.$confirm("确认删除当前选中记录吗？","提示",{type:'warning'})
                        .then(()=>{
                            axios.get("/permission/delete.do?id="+row.id).then((resp)=>{
                                if (resp.data.flag){
                                    // 与讲义不同,这里删除成功才重新查询
                                    this.$message.success(resp.data.message);
                                    this.findPage();
                                } else {
                                    this.$message.error(resp.data.message);
                                }
                            })
                        });


                }
            }
        })
    </script>
</html>